name: Zamp续期


on:
  schedule:
    - cron: '0 0 * * *'   # 北京时间 08:00
  workflow_dispatch:

jobs:
  renew:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Chromium
        run: |
          sudo apt-get update
          sudo apt-get install -y chromium-browser

      - name: Install Python deps
        run: |
          pip install selenium requests

      - name: Run renew
        env:
          ZAMPTO_USER: ${{ secrets.ZAMPTO_USER }}
          ZAMPTO_PASS: ${{ secrets.ZAMPTO_PASS }}
          TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
          TG_CHAT_ID: ${{ secrets.TG_CHAT_ID }}
        run: |
          which chromium-browser
          chromium-browser --version
          python app.py
